<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
crossorigin="anonymous" referrerpolicy="no-referrer" />

<body>
  <div class="container" id="container" style="font-family: times 'Times New Roman', Times, serif;">
    <div class="loginform">
    <form (ngSubmit)= "onSubmit()">
  <div class="main_div">
    <img src="assets/2.jpg" width="80%" style="padding-left: 50px;"><br>
    <div class="title">Peoples Bank</div>

      <div class="input_box">
        <input type="text" name="useremail" class="form-control"placeholder="Enter Your User Name"
        [(ngModel)]= "usercred.username">
          <div class="icon"><i class="fa-solid fa-user"></i></div>
      </div>

      <div class="input_box">
        <input type="text" name="accno" class="form-control"placeholder="Enter Your Account Number"
        [(ngModel)]= "usercred.accno">
          <div class="icon"><i class="fa-solid fa-landmark"></i></div>
      </div>

      <div class="input_box">
        <input type="password" name="loginpin" class="form-control" placeholder="Enter Your Login PIN"
        [(ngModel)]= "usercred.loginpin">
          <div class="icon"><i class="fa-solid fa-key"></i></div>
      </div>


      <div class="option_div">
        <div class="check_box">
          <input type="checkbox">
          <span>Remember me</span>
        </div>
        <div class="forget_div">
          <a href="#">Forgot password?</a>
        </div>
      </div>

      <div class="input_box button">
        <!-- <input [disabled]= "loginform.form.invalid"  type="submit" value="Login"> -->
        <button class="button1" type="submit">Log in</button>
      </div>

      <div class="sign_up">
        <p>New user?</p>
        <button type="button" class="btn btn-outline-danger" routerLink="/register">Register</button>
      </div>

      <i  routerLink="/" class="fa-solid fa-circle-arrow-left fa-xl" ></i>
      <span style=" font-size: large;">Back</span>


  </div>
    </form>

  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-right">
        <h4 class="mb-4" style="justify-content: center;font-family: 'Sriracha', cursive;">
          We are more than just a Bank
        </h4>

        <p class="small mb-0"style="justify-content: center" style="align-items: center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <img src="assets/kan.svg.svg" style="width: 400px; padding-right: 0; padding-top: 60px;">

      </div>
    </div>
  </div>
  </div>
  </div>
</body>
