<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />



<header class="header">
  <a href="#" class="logo">Peoples Bank</a>
  <nav class="nav-items">
    <i class="fa-solid fa-phone"></i>
    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">Contact us</button>
    <i class="fa-solid fa-address-card fa-large"></i>
    <a href="/aboutus" >About Us</a>
    <!--i class="fa-solid fa-user"></i>
    <a href="/adminlogin" >Admin Login</a-->
  </nav>
</header>



<div id="offcanvas-top" class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">

  <div class="offcanvas-header">
    <h5 id="offcanvasTopLabel">We are Here to Make Banking More comforatble to You
      <i class="fa-brands fa-fly fa-lg"></i>
    </h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body">
    <h6   style="font-size: medium;   font-family: 'Sriracha', cursive; color: red;">Contact Us Through:</h6>

    <p><i class="fa-solid fa-bank"></i>
    Personal Banking (24X7) : 1800 5600</p>

    <p><i class="fa-solid fa-phone"></i>
    Missed call services : 8468098766 or 9878657845</p>

    <p><i class="fa-solid fa-paper-plane"></i>
    For PMJDY & other FI Schemes : 1800 102 7788</p>

    <p style="padding-left: 170vh; font-size: larger; color: rgb(20, 4, 57);">Happy Banking<i style="padding-left: 5px; color: rgb(19, 3, 56);" class="fa-solid fa-face-smile fa-xl"></i></p>
  </div>

</div>





<main>
  <div class="intro">
    <h1>Peoples Bank Welcomes You!</h1>
     <p>People Bank was established in 1994 as the first bank to receive approval from the
      Reserve Bank of India (RBI) to set up a private sector bank. It was promoted by Housing
      Development Finance Corporation (PB), a leading housing finance company in India.
    Products and Services.we work for People</p>
    <button routerLink="/login">Get Started</button>
  </div>

  <div class="achievements">
    <div class="work">
      <i class="fas fa-user"></i>
      <p class="work-heading">Effortless Signup</p>
      <p class="work-text">Opening a bank account shouldn't be painful.Signing up for PaiMents is quick & easy so you can get back to building your business.</p>
    </div>
    <div class="work">
      <i class="fas fa-bank"></i>
      <p class="work-heading">Better Banking</p>
      <p class="work-text">Peoples Bank offers all the services you need, but without all the hussles. Managing your banking has never been easier.</p>
    </div>
    <div class="work">
      <i class="fas fa-fingerprint"></i>
      <p class="work-heading">Always At Your Fingertips</p>
      <p class="work-text">Thoughtfully crafted by a world-class software team. Our powerful web applications empower you to run your banking effortlessly.</p>
    </div>
  </div>

  <div class="achievements">
    <div class="work">
      <i class="fa-solid fa-circle-nodes"></i>
      <p class="work-heading">Connected Platform</p>
      <p class="work-text">Peoples bank integrates with other app and services, helping you to make your work more easy.</p>
    </div>
    <div class="work">
      <i class="fas fa-hand-holding-dollar"></i>
      <p class="work-heading">Straight-Forward pricing</p>
      <p class="work-text">Poples bank offers flat montly pricing, with no unneccesary confusing fees.</p>
    </div>
    <div class="work">
      <i class="fas fa-bell-concierge"></i>
      <p class="work-heading">Delightful Service</p>
      <p class="work-text">Peoples bank is built around service, helping you to bank effortlessly.</p>
    </div>
  </div>

    <!-----------------------------------------CARDS------------------------------------>

    <div class="row">


      <div class="column">
        <div class="card">
          <h3>Home Loan</h3>
          <div class="card-clr">
            <i class="fa-sharp fa-solid fa-house fa-2xl"></i><br><br>
          </div>
          <p>Fulfil your dream house with People's bank home loan.</p>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <h3>Electronics</h3>
          <div class="card-clr">
            <i class="fa-sharp fa-solid fa-tv fa-2xl"></i><br><br>
          </div>
          <p>Avail exciting offers via smartBuy, save upto 2.25% via net-banking.</p>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <h3>Credit card</h3>
          <div class="card-clr">
            <i class="fa-sharp fa-solid fa-credit-card fa-2xl"></i><br><br>
          </div>
          <p>Grab the exclusive offers now + vouchers worth 1,500.</p>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <h3>Remittances</h3>
          <div class="card-clr">
            <i class="fa-solid fa-money-bill-transfer fa-2xl"></i><br><br>
          </div>
          <p>Get 100% remittances without any foreign bank charges.</p>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <h3>Education</h3>
          <div class="card-clr">
            <i class="fa-sharp fa-solid fa-book fa-2xl"></i><br><br>
          </div>
          <p>Get lowest education loans with interest rate of 7.54% only.</p>
        </div>
      </div>


    </div>

    <!--------------------------------------END OF CARDS------------------------------------------------>



  <div class="about-me">
    <div class="about-me-text">
      <h2>About Us</h2>
      <p>Peoples Group has been providing tailored financial services to the Canadian marketplace
        for more than 35 years. We began with Peoples Trust Company, offering GICs and commercial
        mortgages. Since then, we’ve worked on perfecting our service and expanding our reach with
        exceptional customer service, backed by extensive product knowledge and experience.
        Now, we’re bringing our expertise with Lending and Investments to Peoples Bank.
        We’d love to help you. It’s who we are.</div>
    <img src="https://th.bing.com/th/id/OIP.kkzARMB1c-31R4CdQPsZ0wHaEQ?pid=ImgDet&rs=1" alt="me">
  </div>
</main>






<footer class="footer">
  <div class="copy">&copy; Copyright Peoples Trust Company, part of Peoples Group, Website 2023. All rights reserved.</div>


  <div class="bottom-links">
    <div class="links">
      <a href="/">Home</a>
      <a href="aboutus">About</a>
      <a class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">Contact us</a>

    </div>
    <div class="links">
      <a href="https://www.facebook.com/"><i class="fab fa-facebook fa-xl"></i></a>
      <a href="https://twitter.com/?lang=en-in"><i class="fab fa-twitter fa-xl"></i></a>
      <a href="https://www.instagram.com/"><i class="fab fa-instagram fa-xl"></i></a>
    </div>
  </div>
</footer>
